# ignore pychache
DirectDmTargets/__pycache__/*
*.pyc
2019*
notebooks/old/*
DirectDmTargets/__*
backups/*
# submit_to_stoomboot*
results/test*
results/nestle*
results/emcee*
results/*
/notebooks/figures/*
/notebooks/archive/*
.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints*
.idea*
.eggs/*
DirectDmTargets.egg-info/*
DirectDmTargets/archive.py
