numpy
scipy
matplotlib
pandas
numba
nestle
emcee
corner
numericalunits
multihist
seaborn
coveralls
hypothesis
pytest
pytest-runner
tqdm
# # Optional for notebooks
# jupyter
# ipython
# parso==0.7.1
# jupyter-resource-usage   # Memory viewer for notebooks
# cmake
# scikit-build
# scikit-learn
# line_profiler
