numpy
scipy
matplotlib
pandas
ipython
jupyter
numba
nestle
emcee
corner 
numericalunits
multihist
seaborn
coveralls
hypothesis
jupyter-resource-usage   # Memory viewer for notebooks
cmake
scikit-build
scikit-learn
line_profiler
parso==0.7.1
pytest
pytest-runner
tqdm
